body {
    margin-top: 20px;
    background-color: #e0e0e0;
    color: #545454;
}

.btn,
.form-control,
.panel,
.list-group,
.well {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.modal-dialog {
    width: 450px;
}

.modal-footer,
.modal-header {
    border-width: 0;
}