<!-- Footer -->
<footer id="footer" class="sm-padding bg-dark">

    <!-- Container -->
    <div class="container">

        <!-- Row -->
        <div class="row">

            <div class="col-md-12">

                <!-- footer logo -->
                <div class="footer-logo">
                    <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='img/logo-alt.png') }}" alt="logo"></a>
                </div>
                <!-- /footer logo -->

                <!-- footer follow -->
                <ul class="footer-follow">
                    <li><a href="https://twitter.com/cam_medie?s=08"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com/cam_medie/"><i class="fa fa-instagram"></i></a></li>
                </ul>
                <!-- /footer follow -->

                <!-- footer copyright -->
                <div class="footer-copyright">
                    <p>حقوق الطبع والنشر © 2018. جميع الحقوق محفوظة. <a href="{{ url_for('developers') }}"> صفحة المطورين</a>
                    </p>
                </div>
                <!-- /footer copyright -->

            </div>

        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->

</footer>
<!-- /Footer -->