{% extends "layouts/_praivteLayout.html" %} {% block title %}
<title> كل التوصيات</title>{% endblock %} {% block content %}
<div class="row">
    <div class="col-md-8 mx-auto" style="margin-top:2%;">
        <div class="card">
            <h5 class="card-header">
                {{ "testimonial.subject" }}

            </h5>
            <div class="card-body">
                <div class="float-right">
                    <h3 class="card-text testimonial-content">
                        {{ "testimonial.description" }}
                    </h3>
                    <h5 class="card-text testimonial-url">
                        {{ "testimonial.url" }}
                    </h5>
                    <h5 class="card-text filters">
                        {{ "testimonial.filters" }}
                    </h5>
                    <h5 class="card-text testimonial-date">
                        {{ "testimonial.send_date" }}
                    </h5>
                </div>


                <div>
                    <img src="https://placehold.it/70/70" class="img img-fluid rounded float-left img-thumbnail" alt="..." style="width:20%">

                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group float-right" role="group">
                    <form action="">
                        <form action="">
                            <input type="button" class="btn btn-success" value=" Edit">
                            <input type="button" class="btn btn-danger" value=" Delete">
                        </form>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<nav aria-label="Page navigation example ">
    <ul class="pagination justify-content-center" style="margin-top:2%;">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>
{% endblock %}