{% extends "layouts/_publicLayout.html" %} {% block content %}
<header id="home">
    <!-- Background Image -->
    <div class="bg-img" style="background-image: url('./img/background1.jpg');">
        <div class="overlay"></div>
    </div>
    <!-- /Background Image -->
    <!-- /Background Image -->
    <nav id="nav" class="navbar nav-transparent">
        <div class="container">
            <div class="navbar-header">
                <!-- Logo -->
                <div class="navbar-brand">
                    <a href="{{ url_for('home') }}">
                        <img class="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="logo">
                        <img class="logo-alt" src="{{ url_for('static', filename='img/logo-alt.png') }}" alt="logo">
                    </a>
                </div>
                <!-- /Logo -->
            </div>
        </div>
    </nav>
    <!-- /Nav -->
    <div id="team" class="section md-padding bg-grey">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row ">

                <!-- Section header -->
                <div class="section-header text-center">
                    <h2 class="title">فريق العمل </h2>
                </div>
                <!-- /Section header -->
                <div class="row center-block text-center" style="float: none; margin: 0 auto;">

                    <!-- team -->
                    <div class="col-lg-6">
                        <div class="team">
                            <div class="team-img">
                                <img class="img-responsive" src="{{ url_for('static', filename='img/ahmed.jpeg') }}" alt="">
                                <div class="overlay">
                                    <div class="team-social">
                                        <a href="https://www.facebook.com/ah.2002.ah"><i class="fa fa-facebook"></i></a>
                                        <a href="https://www.instagram.com/2a.cs/"><i class="fa fa-instagram"></i></a>
                                        <a href="https://twitter.com/ah_2002_ah"><i class="fa fa-twitter"></i></a>
                                        <a href="https://github.com/EpicCoder2002"><i class="fa fa-github"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-content">
                                <h3>أحمد الطاهر</h3>
                                <span>مبرمج و مصمم</span>
                            </div>
                        </div>
                    </div>
                    <!-- /team -->

                    <!-- team -->
                    <div class="col-lg-6">
                        <div class="team">
                            <div class="team-img">
                                <img class="img-responsive" src="{{ url_for('static', filename='img/ammar.jpg') }}" alt="">
                                <div class="overlay">
                                    <div class="team-social">
                                        <a href="https://www.facebook.com/profile.php?id=100003343103723&fref=pb&hc_location=friends_tab"><i class="fa fa-facebook"></i></a>
                                        <a href="https://www.instagram.com/makkawe12/"><i class="fa fa-instagram"></i></a>
                                        <a href="https://twitter.com/Lizard_teamIII"><i class="fa fa-twitter"></i></a>
                                        <a href="https://github.com/smart-programmer"><i class="fa fa-github"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-content">
                                <h3>عمار المولد</h3>
                                <span>مبرمج</span>
                            </div>
                        </div>
                    </div>
                    <!-- /team -->
                </div>

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Team -->
    {% include "layouts/_footerLayout.html" %}
</header>
{% endblock %}