{% extends "layouts/_publicLayout.html" %} {% block content %}

<header id="home">
    <!-- Background Image -->
    <div class="bg-img" style="background-image: url('./img/background1.jpg');">
        <div class="overlay"></div>
    </div>
    <!-- /Background Image -->

    <!-- Nav -->
    <nav id="nav" class="navbar nav-transparent">
        <div class="container">
            <div class="navbar-header">
                <!-- Logo -->
                <div class="navbar-brand">
                    <a href="{{ url_for('home') }}">
                        <img class="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="logo">
                        <img class="logo-alt" src="{{ url_for('static', filename='img/logo-alt.png') }}" alt="logo">
                    </a>
                </div>
                <!-- /Logo -->
            </div>
        </div>
    </nav>
    <!-- /Nav -->

    <!-- Portfolio -->
    <div id="portfolio" class="section md-padding bg-grey">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Section header -->
                <div class="section-header text-center">
                    <h2 class="title">بعض أعمالنا</h2>
                    <div class="portfolioFilter">
                        <ul class="Portfolio-nav wow fadeIn delay-02s">
                            <li><a href="{{ url_for('images') }}" class="current" id="all">الكل</a></li>
                            <li><a href="{{ url_for('images', category='logos') }}" class="" id="logos">شعارات</a></li>
                            <li><a href="{{ url_for('images', category='brochures') }}" class="" id="brochures">بروشورات</a></li>
                            <li><a href="{{ url_for('images', category='banner') }}" class="" id="banner">بنرات</a></li>
                            <li><a href="{{ url_for('images', category='visualIdentity') }}" class="" id="visualIdentity">هوية بصرية</a></li>
                            <li><a href="{{ url_for('images', category='folders') }}" class="" id="folders">فولدرات</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- /Section header -->
                <div class="portfolioContainer ">
                    {% for image in images %}
                    <!-- Work -->
                    <div class="col-md-4 col-xs-6 work {{image.category}}">
                        <img class="img-responsive" src="{{ image.image_path }}" alt="">
                        <div class="overlay"></div>
                        <div class="work-content">
                            <span>{{image.category}}</span>
                            <h3>{{image.post_description}}</h3>
                            <div class="work-link">
                                <a href="image/{{ image.id }}"><i class="fa fa-search"></i></a>
                               
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- /Work -->


                </div>
            </div>
            <!-- /Row -->
            <div class="text-center">
                <a href="{{ url_for('home') }}" class="main-btn"> الرئيسية</a>
            </div>
            <!-- /Container -->

        </div>
    </div>
    <!-- /Portfolio -->
    <!-- Footer -->
    <footer id="footer" class="sm-padding bg-dark">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <div class="col-md-12">

                    <!-- footer logo -->
                    <div class="footer-logo">
                        <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='img/logo-alt.png') }}" alt="logo"></a>
                    </div>
                    <!-- /footer logo -->

                    <!-- footer follow -->
                    <ul class="footer-follow">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                    <!-- /footer follow -->

                    <!-- footer copyright -->
                    <div class="footer-copyright">
                        <p>حقوق الطبع والنشر © 2018. جميع الحقوق محفوظة.</p>
                    </div>
                    <!-- /footer copyright -->

                </div>

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </footer>
    <!-- /Footer -->
</header>
<script>
    var url = window.location.href;
    var pathname = new URL(url);
    var category = pathname.searchParams.get("category");
    var filters = ["all", "logos", "brochures", "banner", "visualIdentity", "folders"];
    var subfilters = [];
    filters.forEach(filter => {
        var filter = document.getElementById(filter);
        subfilters.push(filter);
    });
    subfilters.forEach(filter => {
        if (category == filter.id) {
            filter.classList.add("current");
            all.classList.remove("current");
        }
    });
</script>
<!-- /Header -->

{% endblock %}