{% extends "layouts/_publicLayout.html" %} {% block content %}


<!-- Header -->
<header id="home">
    <!-- Background Image -->
    <div class="bg-img" style="background-image: url({{ url_for('static', filename='img/background1.jpg') }});">
        <div class="overlay"></div>
    </div>
    <!-- /Background Image -->

    <!-- Nav -->
    <nav id="nav" class="navbar nav-transparent">
        <div class="container">

            <div class="navbar-header">
                <!-- Logo -->
                <div class="navbar-brand">
                    <a href="{{ url_for('home') }}">
                        <img class="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="logo">
                        <img class="logo-alt" src="{{ url_for('static', filename='img/logo-alt.png') }}" alt="logo">
                    </a>
                </div>
                <!-- /Logo -->

                <!-- Collapse nav button -->
                <div class="nav-collapse">
                    <span></span>
                </div>
                <!-- /Collapse nav button -->
            </div>

            <!--  Main navigation  -->
            <ul class="main-nav nav navbar-nav navbar-right">
                <li><a href="#home">الرئيسة</a></li>
                <li><a href="#about">معلومات عنا</a></li>
                <li><a href="#portfolio">بعض أعمالنا</a></li>
                <li><a href="#service">خدماتنا</a></li>
                <li><a href="#team">فريق العمل</a></li>
                <li><a href="#contact">تواصل معنا</a></li>
            </ul>
            <!-- /Main navigation -->

        </div>
    </nav>
    <!-- /Nav -->

    <!-- home wrapper -->
    <div id="body" class="home-wrapper">
        <div class="container">
            <div class="row">

                <!-- home content -->
                <div class="col-md-10 col-md-offset-1">
                    <div class="home-content">
                        <h1 class="white-text">Cam Media - كام ميديا</h1>
                        <p class="white-text">كام ميديا... خدمات إعلانية متكاملة بكل دقةٍ واحترافية
                        </p>
                        <a href="#about" class="white-btn">اكتشف الموقع</a>
                    </div>
                </div>
                <!-- /home content -->

            </div>
        </div>
    </div>
    <!-- /home wrapper -->

</header>
<!-- /Header -->

<!-- About -->
<div id="about" class="section md-padding">

    <!-- Container -->
    <div class="container">

        <!-- Row -->
        <div class="row">

            <!-- Section header -->
            <div class="section-header text-center">
                <h2 class="title">أهلا بكم في موقعنا</h2>
            </div>
            <!-- /Section header -->

            <!-- about -->
            <div class="col-md-4">
                <div class="about">
                    <i class="fa fa-cogs"></i>
                    <h3>قابلية عالية للتعديل</h3>
                    <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</p>
                </div>
            </div>
            <!-- /about -->

            <!-- about -->
            <div class="col-md-4">
                <div class="about">
                    <i class="fa fa-magic"></i>
                    <h3>مميزات رائعة</h3>
                    <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</p>
                </div>
            </div>
            <!-- /about -->

            <!-- about -->
            <div class="col-md-4">
                <div class="about">
                    <i class="fa fa-mobile"></i>
                    <h3>متوافق مع الجميع</h3>
                    <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</p>
                </div>
            </div>
            <!-- /about -->

        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->

</div>
<!-- /About -->
<!-- My Skills -->
<div id="skills" class="section md-padding myskills">
    <div class="container">
        <div class="row skills">
            <div class="col-lg-12">
                <h1 class="text-center">مهاراتي </h1>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="prog-box">
                    <div class="prog" data-prog="99%">فوتوشوب </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="prog-box">
                    <div class="prog" data-prog="97%">الستريتر </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="prog-box">
                    <div class="prog" data-prog="95%">انديزاين</div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="prog-box">
                    <div class="prog" data-prog="92%">تصوير </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="prog-box">
                    <div class="prog" data-prog="92%">مونتاج </div>
                </div>
            </div>

        </div>
    </div>

</div>
<!-- /My Skills -->

<!-- Portfolio -->
<div id="portfolio" class="section md-padding bg-grey">

    <!-- Container -->
    <div class="container">

        <!-- Row -->
        <div class="row">

            <!-- Section header -->
            <div class="section-header text-center">
                <h2 class="title">بعض أعمالنا</h2>
            </div>
            <!-- /Section header -->
            {% for image in images %}
            <!-- Work -->
            <div class="col-md-4 col-xs-6 work">
                <img class="img-responsive" src="{{ image.image_path }}" alt="">
                <div class="overlay"></div>
                <div class="work-content">
                    <span>{{ image.category }}</span>
                    <h3>{{ image.post_title }}</h3>
                    <div class="work-link">
                        <a href="image/{{ image.id }}"><i class="fa fa-search"></i></a>
                    </div>
                </div>
            </div>
            <!-- /Work -->
            {% endfor %}


        </div>
        <!-- /Row -->
        <div class="text-center">
            <a href="{{ url_for('images') }}" class="main-btn">كل الصور </a>
        </div>
        <!-- /Container -->

    </div>
</div>
<!-- /Portfolio -->

<!-- Service -->
<div id="service" class="section md-padding">

    <!-- Container -->
    <div class="container">

        <!-- Row -->
        <div class="row">

            <!-- Section header -->
            <div class="section-header text-center">
                <h2 class="title">ماذا نقدم</h2>
            </div>
            <!-- /Section header -->


            <!-- service -->
            <div class="col-md-6 col-sm-6">
                <div class="service">
                    <i class="fa fa-rocket"></i>
                    <h3>تصميم جرافيك</h3>
                    <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
                </div>
            </div>
            <!-- /service -->

            <!-- service -->
            <div class="col-md-6 col-sm-6">
                <div class="service">
                    <i class="fa fa-diamond"></i>
                    <h3>تسويق</h3>
                    <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
                </div>
            </div>
            <!-- /service -->

            <!-- service -->
            <div class="col-md-6 col-sm-6">
                <div class="service">
                    <i class="fa fa-pencil"></i>
                    <h3>إستشارات تصميمية</h3>
                    <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
                </div>
            </div>
            <!-- /service -->

            <!-- service -->
            <div class="col-md-6 col-sm-6">
                <div class="service">
                    <i class="fa fa-flask"></i>
                    <h3>هوية بصرية</h3>
                    <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
                </div>
            </div>
            <!-- /service -->

        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->

</div>
<!-- /Service -->

<!-- Numbers -->
<div id="numbers" class="section sm-padding">

    <!-- Background Image -->
    <div class="bg-img" style="background-image: url({{ url_for('static', filename='img/background2.jpg') }});">
        <div class="overlay"></div>
    </div>
    <!-- /Background Image -->

    <!-- Container -->
    <div class="container">

        <!-- Row -->
        <div class="row">

            <!-- number -->
            <div class="col-sm-4 col-xs-6">
                <div class="number">
                    <i class="fa fa-users"></i>
                    <h3 class="white-text"><span class="counter">451</span></h3>
                    <span class="white-text">عملاء سعداء</span>
                </div>
            </div>
            <!-- /number -->

            <!-- number -->
            <div class="col-sm-4 col-xs-6">
                <div class="number">
                    <i class="fa fa-trophy"></i>
                    <h3 class="white-text"><span class="counter">12</span></h3>
                    <span class="white-text">جوائز حصلنا عليها</span>
                </div>
            </div>
            <!-- /number -->


            <!-- number -->
            <div class="col-sm-4 col-xs-6">
                <div class="number">
                    <i class="fa fa-file"></i>
                    <h3 class="white-text"><span class="counter">45</span></h3>
                    <span class="white-text">مشروع مكتمل</span>
                </div>
            </div>
            <!-- /number -->

        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->

</div>
<!-- /Numbers -->
<!-- Team -->
<div id="team" class="section md-padding">

    <!-- Container -->
    <div class="container">

        <!-- Row -->
        <div class="row">

            <!-- Section header -->
            <div class="section-header text-center">
                <h2 class="title"> صاحب الموقع </h2>
            </div>
            <!-- /Section header -->
            <div class="row">

                <!-- team -->
                <div class="col-sm-8 center-block text-center" style="float: none; margin: 0 auto;">
                    <div class="team">
                        <div class="team-img">
                            <img class="img-responsive" src="{{ url_for('static', filename='img/team1.jpg') }}" alt="">
                            <div class="overlay">
                                <div class="team-social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-content">
                            <h3>محمد أبو الخير</h3>
                            <span>مصمم و المدير التنفيذي</span>
                        </div>
                    </div>
                </div>
                <!-- /team -->
            </div>

        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->

</div>
<!-- /Team -->
<!-- Testimonial -->
<div id="testimonial" class="section md-padding">

    <!-- Background Image -->
    <div class="bg-img" style="background-image: url({{ url_for('static', filename='img/background3.jpg') }});">
        <div class="overlay"></div>
    </div>
    <!-- /Background Image -->

    <!-- Container -->
    <div class="container">

        <!-- Row -->
        <div class="row">

            <!-- Testimonial slider -->
            <div class="col-md-10 col-md-offset-1">
                <div id="testimonial-slider" class="owl-carousel owl-theme">
                    {% for testimonial in testimonials %}
                    <!-- testimonial -->
                    <div class="testimonial">
                        <div class="testimonial-meta">
                            <img src="{{ url_for('static', filename='img/perso2.jpg') }}" alt="">
                            <h3 class="white-text">{{testimonial.client_name}}</h3>
                            <span>{{testimonial.client_work}}</span>
                        </div>
                        <p class="white-text">{{testimonial.content}}</p>
                    </div>
                    <!-- /testimonial -->
                    {% endfor %}

                </div>
            </div>
            <!-- /Testimonial slider -->

        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->

</div>
<!-- /Testimonial -->



<!-- Contact -->
<div id="contact" class="section md-padding bg-grey">

    <!-- Container -->
    <div class="container">

        <!-- Row -->
        <div class="row">

            <!-- Section-header -->
            <div class="section-header text-center">
                <h2 class="title">تواصل معنا</h2>
            </div>
            <!-- /Section-header -->

            <!-- contact -->
            <div class="col-sm-4">
                <div class="contact">
                    <i class="fa fa-phone"></i>
                    <h3>رقم الجوال</h3>
                    <p>05x-xxx-xxxx</p>
                </div>
            </div>
            <!-- /contact -->

            <!-- contact -->
            <div class="col-sm-4">
                <div class="contact">
                    <i class="fa fa-envelope"></i>
                    <h3>البريد الإلكتروني</h3>
                    <p>email@support.com</p>
                </div>
            </div>
            <!-- /contact -->

            <!-- contact -->
            <div class="col-sm-4">
                <div class="contact">
                    <i class="fa fa-map-marker"></i>
                    <h3>العنوان</h3>
                    <p>المدينة المنورة</p>
                </div>
            </div>
            <!-- /contact -->

            <!-- contact form -->
            <div class="col-md-8 col-md-offset-2">
                <form id="form" action="" method="POST" class="contact-form">
                    {{ form.hidden_tag() }} {{ form.full_name(class="input", placeholder="الاسم")}} {% for error in form.full_name.errors %}
                    <span id="helpBlock" class="help-block">{{ error }}</span> {% endfor %} {{ form.email(class="input", placeholder="البريد الإلكتروني")}} {% for error in form.email.errors %}
                    <span id="helpBlock" class="help-block">{{ error }}</span> {% endfor %} {{ form.subject(class="input", placeholder="الموضوع")}} {% for error in form.subject.errors %}
                    <span id="helpBlock" class="help-block">{{ error }}</span> {% endfor %} {{ form.content(class="input", placeholder="نص الرسالة...")}} {% for error in form.content.errors %}
                    <span id="helpBlock" class="help-block">{{ error }}</span> {% endfor %} {{ form.submit(class="main-btn")}}
                </form>
            </div>
            <!-- /contact form -->

        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->

</div>
<!-- /Contact -->


{% include "layouts/_footerLayout.html" %} {% endblock %}