{% extends "layouts/_praivteLayout.html" %} {% block title %} تسجيل مسؤول{% endblock %} {% block additional %}
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<style>
    body {
        background: #eee;
    }
    
    .main-box.no-header {
        padding-top: 20px;
    }
    
    .main-box {
        background: #FFFFFF;
        -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
        -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
        -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
        -ms-box-shadow: 1px 1px 2px 0 #CCCCCC;
        box-shadow: 1px 1px 2px 0 #CCCCCC;
        margin-bottom: 16px;
        -webikt-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
    
    .table a.table-link.danger {
        color: #e74c3c;
    }
    
    .table-link {
        background: transparent;
        border: none;
    }
    
    .blue-button {
        color: #3498db
    }
    
    .red-button {
        color: #e74c3c
    }
    
    .yellow-button {
        color: #ebcc21
    }
    
    .label {
        border-radius: 3px;
        font-size: 0.875em;
        font-weight: 600;
    }
    
    .user-list tbody td .user-subhead {
        font-size: 0.875em;
        font-style: italic;
    }
    
    .user-list tbody td .user-link {
        display: block;
        font-size: 1.25em;
        padding-top: 3px;
        margin-left: 60px;
    }
    
    a {
        color: #3498db;
        outline: none!important;
    }
    
    .user-list tbody td>img {
        position: relative;
        max-width: 50px;
        float: left;
        margin-right: 15px;
    }
    
    .table thead tr th {
        text-transform: uppercase;
        font-size: 0.875em;
    }
    
    .table thead tr th {
        border-bottom: 2px solid #e7ebee;
    }
    
    .table tbody tr td:first-child {
        font-size: 1.125em;
        font-weight: 300;
    }
    
    .table tbody tr td {
        font-size: 0.875em;
        vertical-align: middle;
        border-top: 1px solid #e7ebee;
        padding: 12px 8px;
    }
    
    a:hover {
        text-decoration: none;
    }
</style>
{% endblock %} {% block content %}
<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>
                                    <th class="text-center"><span>User</span></th>
                                    <th class="text-center"><span>Username</span></th>
                                    <th class="text-center"><span>Email</span></th>
                                    <th class="text-center">Settings</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for user in users %}
                                    <td class="text-center">
                                        <img src="https://bootdey.com/img/Content/user_1.jpg" alt="">
                                        <a href="#" class="user-link">{{ user.full_name }}</a>
                                        <span class="user-subhead">Member</span>
                                    </td>
                                    <td class="text-center">{{ user.username }}</td>
                                    <td>
                                        <a href="#">{{ user.email }}</a>
                                    </td>
                                    <td class="text-center" style="width: 20%;">

                                        <a href="#" class="table-link yellow-button">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                        <form method="POST" style="display: inline-block">
                                            {{ form.hidden_tag() }}
                                            <button class="table-link danger red-button" style="font-size: 18px">
                                            حذف
                                        </button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}