{% extends "layouts/_praivteLayout.html" %} {% block title %}
<title> كافة الرسائل</title>{% endblock %} {% block content %}
<div class="row">
    {% for message in paginate_object.items %}

    <div class="col-md-8 mx-auto" style="margin-top:2%;">

        <div class="card">
            <h5 class="card-header">
                {{ message.subject }}

            </h5>
            <div class="card-body">
                <p class="card-text">
                    {{ message.email }} {{ message.content }}
                </p>
            </div>
            <div class="card-footer">
                <div class="btn-group float-right" role="group">
                    <form action='' method="POST">
                        {{ form.hidden_tag() }}
                        {{ form.button1(class="btn btn-success", value="Reply") }}
                        {{ form.button2(class="btn btn-danger", value="Delete") }}
                        <input type="hidden" value="{{ message.id }}" name="id">
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
<nav aria-label="Page navigation example ">
    <ul class="pagination justify-content-center " style="margin-top:2%; ">
        <li class="page-item "><a class="page-link " href="# ">Previous</a></li>
        <li class="page-item "><a class="page-link " href="# ">1</a></li>
        <li class="page-item "><a class="page-link " href="# ">2</a></li>
        <li class="page-item "><a class="page-link " href="# ">3</a></li>
        <li class="page-item "><a class="page-link " href="# ">Next</a></li>
    </ul>
</nav>
{% endblock %}